.single-latest-product {
    h4 {
        min-height: 70px;
    }
}

.show_all_header {
    margin-top: 160px;

    h1 {
        color: $black-color
    }
}

.product-section {
    .card {
        text-align: start;
    }
}